body {
  background-color: #333;
  color: #fff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .section{
    padding: 50px 0;
  }
  .todo_wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
  }
  .todo_list{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .todo_list li{
    padding: 15px 20px;
    border-radius: 8px;
    background-color: antiquewhite;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .todo_list li p{
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .btn_div button{
    margin-left: 10px;
  }
  .todo_form{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .todo_form .form-control{
    height: 45px;
  }
  .todo_form .btn{
    height: 45px;
  }
  .select_group{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .select_group > *{
    width: 50%;
    padding: 0 10px;
  }